<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.my.mapper.ContractMapper">
  <resultMap id="BaseResultMaps" type="com.zking.my.model.Contract">
    <constructor>
      <idArg column="contract_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="admin_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="customer_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="contract_content" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="contract_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_Lists">
    contract_id, admin_id, customer_id, contract_content, contract_time
  </sql>
  <insert id="insert" parameterType="contract"></insert>
  <select id="deleteByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMaps">
    select 
    <include refid="Base_Column_Lists" />
    from t_contract
    where contract_id = #{contractId,jdbcType=BIGINT}
  </select>


</mapper>