<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.my.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.zking.my.model.Customer" >
        <constructor >
            <idArg column="customer_id" jdbcType="BIGINT" javaType="java.lang.Long" />
            <arg column="customer_tel" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_password" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_salt" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_level" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="customer_zname" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_age" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="customer_id_number" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_id_address" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_bank" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="customer_time" jdbcType="TIMESTAMP" javaType="java.lang.String" />
            <arg column="custmoer_total_money" jdbcType="DOUBLE" javaType="java.lang.Double" />
            <arg column="custmoer_consumption_money" jdbcType="DOUBLE" javaType="java.lang.Double" />
            <arg column="custmoer_mode" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
    customer_id, customer_tel, customer_name, customer_password, customer_salt, customer_level,
    customer_zname, customer_sex, customer_age, customer_id_number, customer_id_address,
    customer_bank, customer_time, custmoer_total_money, custmoer_consumption_money, custmoer_mode
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select  *
        from t_customer
        where customer_id = #{customerId,jdbcType=BIGINT}
    </select>
    <select id="namegetCust" resultMap="BaseResultMap" parameterType="customer">

    select *  from t_customer where  customer_name= #{customerName,jdbcType=VARCHAR}


    </select>
    <select id="telgetCust" resultMap="BaseResultMap" parameterType="customer">
   select *   from t_customer where  customer_tel=#{customerTel,jdbcType=VARCHAR}
    </select>


    <select id="selectSex" parameterType="long" resultType="long">
        SELECT COUNT(customer_sex) FROM  t_customer where customer_sex='男'
    </select>

    <select id="selectSex1" parameterType="long" resultType="long">
        SELECT COUNT(customer_sex) FROM  t_customer where customer_sex='女'
    </select>
    <select id="selectAge1"  parameterType="long" resultType="long">
        SELECT
        COUNT(customer_age) as '25以下' FROM  t_customer  where customer_age &lt;= 25
    </select>
    <select id="selectAge2"  parameterType="long" resultType="long">
        SELECT
        COUNT(customer_age) as '26-35' FROM  t_customer  where customer_age &gt;=26 and customer_age &lt;=35
    </select>
    <select id="selectAge3"  parameterType="long" resultType="long">
        SELECT
        COUNT(customer_age) as '26-35' FROM  t_customer  where customer_age &gt;=36 and customer_age &lt;=45
    </select>
    <select id="selectAge4"  parameterType="long" resultType="long">
        SELECT
        COUNT(customer_age) as '25以下' FROM  t_customer  where customer_age &gt;= 46
    </select>




    <select id="list" resultMap="BaseResultMap" parameterType="customer">

select  * from   t_customer where customer_name   like  concat('%',#{customerName,jdbcType=VARCHAR },'%')


    </select>


    <select id="list2" resultMap="BaseResultMap" resultType="com.zking.my.model.Customer">
        select * from t_customer WHERE custmoer_mode=1 and  customer_name   like  concat('%',#{customerName,jdbcType=VARCHAR },'%')
    </select>

    <select id="list1" resultMap="BaseResultMap" resultType="com.zking.my.model.Customer">
        select * from t_customer WHERE custmoer_mode=0 and  customer_name  like  concat('%',#{customerName,jdbcType=VARCHAR },'%')
    </select>

    <update id="updeteMode" parameterType="com.zking.my.model.Customer">
        UPDATE t_customer SET custmoer_mode = #{custmoerMode,jdbcType=VARCHAR} where customer_id = #{customerId,jdbcType=BIGINT}
    </update>



    <select id="yz" resultMap="BaseResultMap" parameterType="customer">

select  * from   t_customer where customer_tel =#{customerTel,jdbcType=VARCHAR}

    </select>
    <select id="yz1"  resultMap="BaseResultMap" parameterType="customer">

        select  * from   t_customer where customer_name =#{customerName,jdbcType=VARCHAR }

    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_customer
    where customer_id = #{customerId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zking.my.model.Customer">
    insert into t_customer (customer_id, customer_tel, customer_name, 
      customer_password, customer_salt, customer_level, 
      customer_id_number, customer_id_address, customer_bank, 
      customer_time)
    values (#{customerId,jdbcType=BIGINT}, #{customerTel,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{customerPassword,jdbcType=VARCHAR}, #{customerSalt,jdbcType=VARCHAR}, #{customerLevel,jdbcType=INTEGER}, 
      #{customerIdNumber,jdbcType=VARCHAR}, #{customerIdAddress,jdbcType=VARCHAR}, #{customerBank,jdbcType=VARCHAR}, 
      #{customerTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.zking.my.model.Customer">
        insert into t_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerTel != null">
                customer_tel,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="customerPassword != null">
                customer_password,
            </if>
            <if test="customerSalt != null">
                customer_salt,
            </if>
            <if test="customerLevel != null">
                customer_level,
            </if>
            <if test="customerIdNumber != null">
                customer_id_number,
            </if>
            <if test="customerIdAddress != null">
                customer_id_address,
            </if>
            <if test="customerBank != null">
                customer_bank,
            </if>
            <if test="customerTime != null">
                customer_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerTel != null">
                #{customerTel,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerPassword != null">
                #{customerPassword,jdbcType=VARCHAR},
            </if>
            <if test="customerSalt != null">
                #{customerSalt,jdbcType=VARCHAR},
            </if>
            <if test="customerLevel != null">
                #{customerLevel,jdbcType=INTEGER},
            </if>
            <if test="customerIdNumber != null">
                #{customerIdNumber,jdbcType=VARCHAR},
            </if>
            <if test="customerIdAddress != null">
                #{customerIdAddress,jdbcType=VARCHAR},
            </if>
            <if test="customerBank != null">
                #{customerBank,jdbcType=VARCHAR},
            </if>
            <if test="customerTime != null">
                #{customerTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.my.model.Customer">
        update t_customer
        <set>
            <if test="customerTel != null">
                customer_tel = #{customerTel,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerPassword != null">
                customer_password = #{customerPassword,jdbcType=VARCHAR},
            </if>
            <if test="customerSalt != null">
                customer_salt = #{customerSalt,jdbcType=VARCHAR},
            </if>
            <if test="customerLevel != null">
                customer_level = #{customerLevel,jdbcType=INTEGER},
            </if>
            <if test="customerIdNumber != null">
                customer_id_number = #{customerIdNumber,jdbcType=VARCHAR},
            </if>
            <if test="customerIdAddress != null">
                customer_id_address = #{customerIdAddress,jdbcType=VARCHAR},
            </if>
            <if test="customerBank != null">
                customer_bank = #{customerBank,jdbcType=VARCHAR},
            </if>
            <if test="customerTime != null">
                customer_time = #{customerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="customerZname != null">
                customer_zname = #{customerZname,jdbcType=VARCHAR},
            </if>
            <if test="customerAge != null">
                customer_age = #{customerAge,jdbcType=INTEGER},
            </if>
            <if test="customerSex != null">
                customer_sex = #{customerSex,jdbcType=VARCHAR},
            </if>
            <if test="custmoerTotalMoney != null">
                custmoer_total_money = #{custmoerTotalMoney,jdbcType=DOUBLE},
            </if>
            <if test="custmoerConsumptionMoney != null">
                custmoer_consumption_money = #{custmoerConsumptionMoney,jdbcType=DOUBLE},
            </if>
        </set>
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>




    <update id="updateByPrimaryKey" parameterType="com.zking.my.model.Customer">
    update t_customer
    set customer_tel = #{customerTel,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_password = #{customerPassword,jdbcType=VARCHAR},
      customer_salt = #{customerSalt,jdbcType=VARCHAR},
      customer_level = #{customerLevel,jdbcType=INTEGER},
      customer_id_number = #{customerIdNumber,jdbcType=VARCHAR},
      customer_id_address = #{customerIdAddress,jdbcType=VARCHAR},
      customer_bank = #{customerBank,jdbcType=VARCHAR},
      customer_time = #{customerTime,jdbcType=TIMESTAMP}
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
</mapper>