<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.my.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.zking.my.model.News" >
    <constructor >
      <idArg column="news_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>




  <resultMap id="m2m" type="com.zking.my.model.News" >

      <id column="news_id" property="newsId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="title" property="title" jdbcType="VARCHAR" javaType="java.lang.String" />
    <collection property="categoryList" ofType="com.zking.my.model.Category">
      <id column="category_id" property="categoryId"  jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="category_name" property="categoryName"  jdbcType="VARCHAR" javaType="java.lang.String"/>
    </collection>
  </resultMap>



  <sql id="Base_Column_List" >
    news_id, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
    <select id="loadCasecade" resultMap="m2m" parameterType="com.zking.my.model.News">
SELECT n.*,c.*
from t_news n LEFT OUTER JOIN t_news_category nc ON n.news_id=nc.nid
LEFT OUTER JOIN t_category c ON nc.cid=c.category_id

   where news_id = #{newsId,jdbcType=INTEGER}

    </select>



    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <delete id="doRevokeCategory" parameterType="com.zking.my.model.News">
    DELETE  FROM t_news_category
    where nid= #{newsId,jdbcType=INTEGER} AND  cid= #{cid,jdbcType=INTEGER}






  </delete>
  <delete id="deleteBynewid" parameterType="com.zking.my.model.News">
DELETE   FROM  t_news_category
where nid=#{newsId,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.zking.my.model.News" >
    insert into t_news (news_id, title)
    values (#{newsId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.my.model.News" >
    insert into t_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="doGranaTCategory" parameterType="com.zking.my.model.News">

INSERT  INTO  t_news_category(nid,cid) VALUES (#{newsId,jdbcType=INTEGER},#{cid,jdbcType=INTEGER})
  </insert>





  <update id="updateByPrimaryKeySelective" parameterType="com.zking.my.model.News" >
    update t_news
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.my.model.News" >
    update t_news
    set title = #{title,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>