<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.my.mapper.SYSUserMapper" >
  <resultMap id="BaseResultMap" type="com.zking.my.model.SYSUser" >
    <constructor >
      <idArg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="locked" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_datetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <resultMap id="row" type="com.zking.my.model.SYSNode" >
      <id column="tree_node_id"    property="treeNodeId"  jdbcType="BIGINT" javaType="java.lang.Long" />
      <result column="tree_node_name"   property="treeNodeName"  jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="tree_node_type"  property="treeNodeType"    jdbcType="BIGINT" javaType="java.lang.Long" />
      <result column="parent_node_id"   property="parentNodeId"    jdbcType="BIGINT" javaType="java.lang.Long" />
      <result column="url"    property="url"          jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="position"      property="position"      jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="icon"     property="icon"           jdbcType="VARCHAR" javaType="java.lang.String" />

  </resultMap>

  <sql id="Base_Column_List" >
    user_id, username, password, salt, locked, create_datetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
    <select id="GetUSER" resultType="SYSUser" parameterType="SYSUser">
select *  from   t_sys_user WHERE username= #{username,jdbcType=VARCHAR}



    </select>
  <select id="listPermissionsByUserName" resultType="string" parameterType="SYSUser">

select distinct r.role_name
from t_sys_user u inner join t_sys_user_role ur on u.user_id = ur.user_id inner join t_sys_role r on ur.role_id = r.role_id
where r.available = 1 and u.username = #{username,jdbcType=VARCHAR};


  </select>
  <select id="listRolesByUserName" resultMap="row" parameterType="SYSUser">
    select distinct p.tree_node_name,p.tree_node_type,p.url,p.parent_node_id,p.tree_node_id
from t_sys_user u inner join t_sys_user_role ur on u.user_id = ur.user_id inner join t_sys_role r on ur.role_id = r.role_id
  inner join t_role_tree rp on r.role_id = rp.rid inner join t_tree_node p on rp.nid = p.tree_node_id
where  u.username = #{username,jdbcType=VARCHAR};
  </select>
    <select id="getcountname"  resultMap="BaseResultMap" parameterType="SYSUser">
select sua.*  from    t_sys_user sua
JOIN  t_sys_user_role  sur
on  sua.user_id=sur.user_id    where  sur.role_id=#{userId,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.my.model.SYSUser" >
    insert into t_sys_user (user_id, username, password, 
      salt, locked, create_datetime
      )
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{locked,jdbcType=INTEGER}, #{createDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.my.model.SYSUser" >
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.my.model.SYSUser" >
    update t_sys_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.my.model.SYSUser" >
    update t_sys_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>